@page "/post/{title}"
@model PostModel
@{
    ViewData["Title"] = Model.Post.Title;
}

@section head
{
<meta property="og:title" content="@Model.Post.Title" />
<meta property="og:description" content="@Model.Post.BodyExcerptText" />
<meta property="og:image" content="https://picsum.photos/seed/{Model.Post.URLSlug}/1200/630" />
<meta property="og:type" content="article" />
}

<div class="post">
    <div class="header">
        <h1 class="title">@Model.Post.Title</h1>
        <div class="addendum">
            <span class="credit"><span class="author">@Model.Post.Author</span> - <a class="original" href="https://www.reddit.com/@(Model.Post.Link.Trim('/'))">[original thread]</a></span>

            <span class="share">
                <vc:share-widget post="@Model.Post" />
            </span>
        </div>

        <img class="image" src=@($"https://picsum.photos/seed/{Model.Post.URLSlug}/1024/768")>
    </div>

    <div class="body">
        @Html.Raw(Model.Post.BodyCompiled)
    </div>

    <div class="cta">
        <a class="join" href="https://www.themotte.org">Join the Community</a>

        <div class="share">
            <div>Share</div> <div>-</div> <div class="widgets"><vc:share-widget post="@Model.Post" /></div>
        </div>
    </div>
</div>
