@page
@model QCVault.Pages.PostListModel
@{
}


<div class="post-list">
    @foreach (var post in Model.Posts)
    {
    <div class="post-list-element">
        <div class="thumbnail">
            <a asp-page="Post" asp-route-title="@post.Title">
                @* This is just a temporary image placeholder until we have images *@
                <img src=@($"https://picsum.photos/seed/{System.Text.RegularExpressions.Regex.Replace(post.Title, @"[^\w]*", String.Empty)}/160/100")>
            </a>
        </div>
        <div class="title"><h2><a asp-page="Post" asp-route-title="@post.Title">@post.Title</a></h2></div>
        <div class="metadata">
            <div class="author">@post.Author</div>
            <div class="date">@post.Date.ToString("yyyy MMM d")</div>
        </div>
        @* TODO: introduce tags; this will just hang out here for now
            <div class="tags">
                <span class="tag">beef</span>
                <span class="tag">cows</span>
                <span class="tag">moo</span>
            </div> *@
    </div>
    }
</div>
